<nav class="navbar navbar-default">
    <div class="nav">


        <img src="../../assets/images/logo.png" class="brand-logo" alt="">

        <div class="nav-items">

            <div class="search">
                <input type="text" class="search-box" placeholder="songs, albums, artists">
                <button class="search-btn">search</button>
            </div>

        </div>
    </div>

    <ul class="Links-container">
        <li class="Link-item"><a href="#" class="link">home</a></li>
        <li class="Link-item"><a href="#" class="link">songs</a></li>
        <li class="Link-item"><a href="#" class="link">albums</a></li>
        <li class="Link-item"><a href="#" class="link">artists</a></li>
    </ul>


</nav>