<nav class="navbar navbar-default">
    <div class="nav">

        <img src="../../assets/images/logo.png" class="brand-logo" alt="">

        <ul class="Links-container">
            <li class="Link-item"><a href="/home" class="link">home</a></li>
            <li class="Link-item"><a href="#" class="link">songs</a></li>
            <li class="Link-item"><a href="#" class="link">albums</a></li>
            <li class="Link-item"><a href="#" class="link">artists</a></li>
            <li class="Link-item"><a href="/search-results" class="link">search</a></li>
        </ul>

    </div>
</nav>