body {
    display: block;
    padding: 0 10vw;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'roboto', sans-serif;
}

.btn {
    border: none;
    outline: none;
    background: #383838;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
}

td img {
    width: 50px;
}

.table-content {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

.empty-image {
    display: block;
    margin: 60px auto;
}