<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <section class="top-hits">
        <h2 class="top-hits-title">Best of Apple Music</h2>
        <button class="prev-btn"><img src="../../../assets/images/arrow.png" alt=""></button>
        <button class="next-btn"><img src="../../../assets/images/arrow.png" alt=""></button>
        <div class="hits-container">
            <!--Kanye-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/Kanye.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Coldplay-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/coldplay.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Drake-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/drake.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Alicia Keys-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/aliciakeys.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Audio-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/audio.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Abba-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/abba.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Blackpink-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/blackpink.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Billie-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/biilie.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Fernandez-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/fernandez.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Mnet-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/mnet.png" class="artist-image" alt="">
                </div>
            </div>
            <!--Music awards-->
            <div class="hits-cards">
                <div class="hits-image">
                    <img src="../../../assets/images/musicawards.png" class="artist-image" alt="">
                </div>
            </div>
        </div>


    </section>
    <section class="new-music">
        <img src="../../../assets/images/hits.png" alt="">
    </section>

</body>

</html>