<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="top-hits">
        <h2 class="top-hits-title">Best of Apple Music</h2>
        <div class="hits-container">
            <img [src]="images[currentIndex]" alt="Carousel Image">
        </div>
          
        <button class="prev-btn" (click)="previous()"><img src="../../../assets/images/arrow.png" alt="Previous" ></button>
        <button class="next-btn" (click)="next()"><img src="../../../assets/images/arrow.png" alt="Next" ></button>

        
    </div>
    <section class="new-music">
        <img src="../../../assets/images/hits.png" alt="">
    </section>


</body>

</html>