<footer class="footer footer-default">
    <div class="footer-content">
        <img src="../../assets/images/logo.png" class="logo" alt=" ">
        <div class="footer-ul-container">

        </div>

    </div>
    <p class="footer-title">About iTunes Search Api</p>
    <p class="info">The Search API allows you to place search fields in your website to search for content within the iTunes Store, App Store, iBooks Store and Mac App Store. </p>
    <p class="info">Phone - 1-800-MY-APPLE</p>

    <div class="footer-social-container">
        <div>
            <a href="#" class="social-links">Terms of Use</a>
            <a href="#" class="social-links">Privacy Policy</a>
        </div>

    </div>

    <p class="footer-credit">Copyright © 2022 Apple Inc. All rights reserved.</p>
</footer>